<div class="jumbotron text-center">
  <h1>Mean authentication app</h1>
  <p class="lead">welcome to where time stands still</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a class="btn btn-default" [routerLink]="['/login']">Login</a>
    </div>
  
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>mama told me when I was young. sit beside my only son. and listen closely</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-Cli</h3>
    <p>there is a house in new orleans they call the rising sun</p>
  </div>
  <div class="col-md-4">
    <h3>JWT tokens</h3>
    <p>master of puppets are pulling your spinnin g your mind and smashing yor brains</p>
  </div>
</div>