<div class="head">
<form (submit)="onLoginSubmit()">
 
  <div class="logincontent">
  
      <div class="loginheading">
          Login
      </div>
      <label for="txtUserName">
          Username:</label>
      <input type="text" [(ngModel)]="username" name="username" />
      <label for="txtPassword">
          Password:</label>
      <input type="password" [(ngModel)]="password" name="password" />
      <div class="loginremember">
          <input  class="btn btn-primary" type="submit" value="Login"/>
         
      </div>
      </div>
  
</form>
</div>